.Banner__image{
    img{
        width:100vw;
        height:35vh;
        object-fit: cover;
    }
}
.Banner--text{
    margin: 15px;
    transform: translateY(-150px);
    color: #ffff;
    h1{
        font-weight: bold !important;
    }

}